<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.math.dhruv.mathformulae">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivityn"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Poly2pageActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Trig2pageActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Fig3d2pageActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetsActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AlgebraActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DifferentialActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProbabilityActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrianglesActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SquareActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RectangleActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PentagonActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegularActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PgramActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RhombusActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Circ2pageActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CubeActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CuboidActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CylinderActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SphereActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ConeActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PyramidActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Statistics" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UniConActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CalActivity" android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
    </application>

</manifest>